<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Lemon</title>
    <script src="{{url_for('static', filename='js/lib/jquery-3.3.1.min.js')}}"></script>
    <!--<script src="{{url_for('static', filename='js/submission.js')}}"></script>-->
    <script src="{{url_for('static', filename='js/bundle.js')}}"></script>
    <!--<script src="{{url_for('static', filename='js/index.jsx')}}"></script>-->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div id="easy-lemon-app"></div>

  <table id="results">
      <thead>
          <tr>
              <th>Job Title</th><th>Job Company</th><th>Years of Experience</th><th>Job Salary</th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
</body>
</html>
