<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Lemon</title>
    <script src="{{url_for('static', filename='js/submission.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/jquery-3.3.1.min.js')}}"></script>
</head>
<body>
<h1>Welcome to easy lemon!</h1>
<div>
<form>
  Job Title/keywords:<br>
  <input type="text" name="job-title" value="software engineer">
  <br>
  Location:<br>
  <input type="text" name="job-location" value="san mateo">
  <br>
  Salary:<br>
  <input type="text" name="job-salary" value="120000">
  <br><br>
  <input type="button" value="Submit" onclick="submitJobSearch()">
</form>

<table id="results">
    <thead>
        <tr>
            <th>Job Title</th><th>Job Company</th><th>Years of Experience</th><th>Job Link</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>
</body>
</html>
